body{
    font-family: Arial, sans-serif;
}

.content_container {
    margin: 0 auto;
    max-width: 75%;
}

#title{
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.subsection{
    font-weight: bold;
    font-size: 1.1em;
}